{% extends 'common/admin/base.html' %}

{% block title %}{% endblock %}

{% block content_inner %}

    <table class="table">
        <tr>
            <th>Direction</th>
            <th>Source Address</th>
            <th>Source Ethernet</th>
            <th>Destination Address</th>
            <th>Destination Ethernet</th>
            <th>Comment</th>
            <th>IPv6</th>
            <th>Action</th>
        </tr>
        {% for item in pagination.items %}
            <tr>
                <td>{{ item.direction }}</td>
                <td>{{ item.src }}</td>
                <td>{{ item.src_eth }}</td>
                <td>{{ item.dest }}</td>
                <td>{{ item.dest_eth }}</td>
                <td>{{ item.comment }}</td>
                <td>{{ item.is_v6 }}</td>
                <td>{{ item.action }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}